<link rel="stylesheet" href="/public/fixes.css">

<script>
function calculateAge(birthday) { // birthday is a date
    var ageDifMs = Date.now() - birthday.getTime();
    var ageDate = new Date(ageDifMs); // milliseconds from epoch
    var fraction = ageDate.getTime() / 1000.0 / 60. / 60. / 24. / 365;
    return Math.round(fraction * 100) / 100;
}

window.addEventListener('DOMContentLoaded', () => {
    var yc = document.getElementById("year-count");
    yc.innerHTML = "roughly " + calculateAge(new Date(1991, 5, 19));
})
</script>
